header {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  margin-left: 0rem;
  margin-right: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
}

.iconos {
  display: flex;
  margin-top: 1%;
  justify-content: flex-end;
}

.iconos img {
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
}

/* Carrusel */

.carrusel {
    margin-top: 3%;
    width: 100vw;
    background-color: #666;
    height: 18.75rem;
    overflow: hidden;
  }
  
  .carrusel img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  
  .botonAnterior {
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.313rem;
    width: 6,25rem;
  }

  .botonSiguiente {
    display: inline-block;
    position: absolute;
    border: none;
    cursor: pointer;
    right: 0.625rem;
    background-color: #fff;
    border-radius: 0.313rem;
    width: 6.25rem;
  }
  /* Grid de máquinas */
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
  }
  
  .maquina {
    display: flex; 
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.625rem;
    padding: 1.25rem;
    align-items: center;
  }
  
  .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .maquina img {
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 0.625rem;
  }
  
  .maquina h3 {
    font-size: 1.875rem;
    margin-bottom: 0.313rem;
  }
  
  .maquina p {
    font-size: 1.25rem;
    color: #666;
  }
  
  /* Menu */
  
  .menu-icon {
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute; 
    background-color: #f4f4f4;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem;
    width: 12.5rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu li {
    padding: 10.313rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 0,063rem solid #ccc;
}

.menu li:hover {
    background-color: #e0e0e0;
}


/*Footer*/
.pie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  width: 100%;
}
.pie img {
  width: 5%;
}
