body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.menu-icon {
    cursor: pointer;
    padding: 10px;
}

.menu-icon img{
    width: 50px;
    height: 30px;
}
.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu li:hover {
    background-color: #e0e0e0;
}

.menu li:first-child {
    border-bottom: 1px solid #ccc;
}

.menu li:last-child {
    border-top: 1px solid #ccc;
}

.menu li:last-child:hover {
    border-bottom: 1px solid #ccc;
}

.menu li:first-child:hover {
    border-top: 1px solid #ccc;
}
